body {
  text-align: center;
  font-family: Montserrat;
  margin: 0;
  padding: 0px;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: Montserrat Black;
  text-align: center;
  padding: 5% 0%;
  font-size: 30px;
  color: #181818;
}

p {
  color: #16213E;
}

#top-container {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}


.bilnker{
  padding-bottom: 5%;
}

.blink {
  animation: blinker 1.5s linear infinite;
  color:#3C4048;
  font-family: sans-serif;
  font-size: .7rem;
}

@keyframes blinker {
  80% {
    opacity: 0;
  }
}

.responsive {
  width: 40%;
  height: 100%;
}

#notify{
  position: absolute;
/*   display: flex; */
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 50%;
}



.navbar {
  padding-right: 30px;
}

.wrapper {
  background-image: linear-gradient(to top, #fef9d7  0%, #d299c2 100%);
  margin: 0 auto;
  width: 100%;
}

.carousel-item img {
  width: 100%;
  height: 500px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* index sliding images */

.slider{
  width: 90%;
  height: 100%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}


#Mission {
  background-color: #FBAB7E;
 background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.our-mission {
  text-align: justify;
  font-size: 1.3rem;
  color: #815B5B;
}

/* About-us section */
.container-fluid {
  padding: 3% 7%;
}

/* title section */
#title {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

/* title-image */
.title-img {
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  width: 100%;
  position: relative;
}

.about-us {
  text-align: justify;
  font-size: 1.3rem;
}

/* gallery section */
.container-fluid {
  padding: 3% 7%;
}

#gallery{
 background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
}

.img-box {
  padding: 3% 2%;
  position: relative;
  width: 100%;
  /* max-width: 300px; */
}

.img{
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: relative;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.img-box:hover .overlay {
  opacity: 1;
}

/* WHAT WE OFFER SECTION */
.colored-section {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.img1 {
  display: block;
  width: 100%;
  height: auto;
  padding-left: 10px;
}

#row1{
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

#row2{
   background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

#row3{
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

#row4{
  background-color: #D9AFD9;
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

#team {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  text-align: justify;
}

.intro {
  text-align: center;
}

.impact {
background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  text-align: center;
  font-size: 25px;
}

/* Testimonials section */
#testimonials {
 background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* CONTACT US SECTION */
#contact{
  background: #c6f5ff;
background: -webkit-linear-gradient(0deg, #c6f5ff 0%, #a8f0ff 50%, #a0e9ff 100%);
background: linear-gradient(0deg, #c6f5ff 0%, #a8f0ff 50%, #a0e9ff 100%);
}

.cont-div {
  text-align:justify;
  padding-bottom:10%;
}

.cont{
  line-height: 3;
}

a{
  color: #000000;
}

#footer {
  background: #2b2f77;
  background: -webkit-linear-gradient(0deg, #2b2f77 0%, #141852 50%, #070b34 100%);
  background: linear-gradient(0deg, #2b2f77 0%, #141852 50%, #070b34 100%);
  color: #ffffff;
  margin-bottom:0;
  padding: 0;
}

.img1 {
  width: 100%;
  height: 100%;
}

.nav-item:hover {
  background-color: #ffffff;
}

.white1{
color: #ffffff;
}


#faq{
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
}

.layout{
    width: 400px;
    margin: auto;
}
.accordion{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    border-radius: 10px;
}
.accordion__question p{
    margin: 5px;
    padding: 0;
    font-family: Verdana;
    font-size: 20px;
}
.accordion__answer p{
    margin: 5px;
    padding: 10px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#000000;
    background: #FAF7F0;
    border-radius: 10px;
    text-align: left;
}
.accordion:hover{
    cursor: pointer;
}
.accordion__answer {
    display: none;
}
.accordion.active .accordion__answer {
    display: block;
}

.ul{
  margin: 5px;
  padding: 10px;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:#000000;
  background: #FAF7F0;
  border-radius: 10px;
  text-align: left;
}
